@import "react-slideshow-image/dist/styles.css";
.gallery{
    padding: 15px 20px 0px;
    background-color: rgba(196, 182, 182, 0.527);
    border-radius: 20px;
    margin: 15px 50px;

}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    width: 48vw;
    height: auto;
    background-color: white;
    padding: 10px;
    z-index: 5;

}

.gallery-text{
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: #282c34;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 3px;
    margin: auto;
}
.gallery-text:hover{
    background-color: #00ccff;


}
.indicators{
    color: white;
}

@media screen and (max-width: 950px) {
    .gallery{
        padding: 15px 10px 0px;
        margin: 5px 10px;
    }
    .photo{
        width: 65vw;
        padding: 5px;
        
    }
    .gallery-text{
        position: static;


    }
}
@media screen and (max-width: 650px) {
    .photo{
        width: 75vw;
        
    }
}